@font-face {
  font-family: "Arvo-Regular";
  src: url(./fonts/Arvo-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url(./fonts/Montserrat-VariableFont_wght.ttf);
  font-weight: bold;
  font-style: weight;
}
@font-face {
  font-family: "Montserrat";
  src: url(./fonts/Montserrat-VariableFont_wght.ttf);
  font-weight: normal;
  font-style: weight;
}
@font-face {
  font-family: "Montserrat-Italic";
  src: url(./fonts/Montserrat-Italic-VariableFont_wght.ttf);
  font-weight: normal;
  font-style: italic;
}

body {
  background-image: url("./img/fondo-asus.gif");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: "Montserrat-Bold";
  margin-bottom: 5%;
}

.container {
  background-color: rgba(255, 255, 255, 0.842);
  width: 50%;
  border-radius: 15px;
  margin: 0 auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 1%;
  box-sizing: border-box;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: "Montserrat";
  padding: 1%;
}
h2 {
  font-family: "Montserrat-Bold";
  font-size: 2em;
}
p {
  font-size: 1.2em;
}
h1 {
  font-family: "Montserrat-Italic";
  font-size: 2em;
  background-color: rgba(255, 0, 0, 0.315);
  padding: 3%;
  border-radius: 15px;
}
.time-container {
  background-color: rgba(65, 105, 225, 0.514);
  padding: 3%;
  border-radius: 15px;
  font-size: 1.5em;
  font-family: "Montserrat";
}
.score-container {
  background-color: rgba(225, 156, 65, 0.514);
  padding: 3%;
  border-radius: 15px;
  font-size: 1.3em;
}
.text {
  padding: 2%;
  width: 80%;
  font-size: 1.5em;
  border-radius: 15px;
}
.botonPlayAgain {
  border-radius: 15px;
  background-color: rgba(65, 105, 225, 0.514);
  padding: 2%;
  width: 80%;
  font-size: 2em;
}
.tituloGameOver {
  font-size: 1.5em;
  width: 100%;
}
#end-game-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.displayNone {
  display: none;
}

@media (max-width: 768px) {
  body {
    background-image: url("./img/tienda-asus.webp");
  }
  .container {
    width: 70%;
  }
}
@media (max-width: 500px) {
  .container {
    width: 90%;
  }
}
